{% extends 'event_manager_base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block extra_css %}
<link type="text/css" href="{% static 'css/flatpickr.css'%}" rel="stylesheet">
<link type="text/css" href="{% static 'css/flatpickr.rtl.css'%}" rel="stylesheet">
<link type="text/css" href="{% static 'css/flatpickr-airbnb.css'%}" rel="stylesheet">
<link type="text/css" href="{% static 'css/flatpickr-airbnb.rtl.css'%}" rel="stylesheet">
{% endblock %}

{% block content %}
<form action="" method="POST">
{% csrf_token %}
    <div class="page-section container page__container">
        {{ form|crispy }}
        <button type="button" class="btn btn-secondary float-right" data-dismiss="modal">{% trans 'Cancel' %}</button>
        <button type="submit" class="btn btn-primary float-right mr-3" value="Add">{% trans 'Save' %}</button>
    </div>
</form>
{% endblock %}

{% block extra_js %}
<script src="{% static 'vendor/flatpickr/flatpickr.min.js' %}"></script>
<script src="{% static 'js/flatpickr.js' %}"></script>
{% endblock %}