{% extends 'forum_base.html' %}
{% load static %}


{% block content %}
<div class="container page__container">
    <div class="page-section">

        <h4>Forums</h4>

        <div class="card">
            <div class="card-header">
                <div class="row align-items-center" style="white-space: nowrap;">
                    <div class="col-lg-auto">
                        <form class="search-form search-form--light d-lg-inline-flex mb-8pt mb-lg-0" action="student-discussions.html">
                            <input type="text" class="form-control w-lg-auto" placeholder="Search Forum">
                            <button class="btn" type="submit" role="button"><i class="material-icons">search</i></button>
                        </form>
                    </div>
                    <div class="col-lg-auto flex">
                        <a href="{% url 'forum-add' %}" class="btn btn-accent float-right">Create Forum</a>
                    </div>
                </div>
            </div>

            <div class="list-group list-group-flush">

                {% for forum in forum_list %}
                <div class="list-group-item p-3">
                    <div class="row align-items-center">
                        <div class="col-1 mb-8pt mb-md-0 ">
                            <div class="media align-items-center justify-content-center">
                                <div class="">
                                    <!-- <i class="material-icons">library_books</i> -->
                                    <i class="material-icons">people</i>
                                </div>
                                <!-- <div class="media-body media-middle">
                                    <p class="text-muted m-0">{{ forum.created|timesince }}</p>
                                    <p class="m-0"><a href="#" class="text-body">{{ forum.author.full_name }}</a></p>
                                </div> -->
                            </div>
                        </div>
                        <a href="{% url 'forum-view' id=forum.id %}" class="col-md-9 mb-8pt mb-md-0">
                            <p class="mb-8pt">
                                <div href="#" class="text-body">
                                    <strong>{{ forum.name }}</strong>
                                </div>
                            </p>
                            <div  class="my-1">
                                {{forum.description|truncatechars:80}}
                            </div>
                        </a>
                        <div class="col-auto media-right align-items-center justify-content-center">
                            <h5 class="m-0"> {{ forum.thread_set.count }} </h5>
                            <p class="lh-1 mb-0"><small class="text-70">Threads</small></p>
                        </div>
                        <div class="col-auto media-right align-items-center justify-content-center">
                            <h5 class="m-0"> {{ forum.members.count }} </h5>
                            <p class="lh-1 mb-0"><small class="text-70">Members</small></p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            
            {% if forum_list.count > 10 %}
                <div class="card-body text-center">
                    <a href="#" class="text-black-70 text-underline">View more forum</a>
                </div>
            {% elif forum_list.count < 1  %}
                <div class="card-body text-center">
                    <a href="{% url 'forum-add' %}" class="text-black-70 text-underline">Create First forum</a>
                </div>
            {% endif %}
                

        </div>

    </div>
</div>


{% endblock %}