{% extends 'forum_base.html' %}
{% load static %}

{% block content %}
<div class="pt-24pt bg-white border-bottom-2">
    <div class="container page__container">
        <div class="row ml-3">
            <h2 >Forum {{forum.name}}</h2>
        </div>
        <div class="row ml-3">
            <p class="text-muted mb-4">Forum {{forum.description}}</p>
        </div>
        <div class="row ml-3">
            <a href="{% url 'forum-edit' id=forum.id %}" class="text-link mb-4 link text-50" style="text-decoration: underline;" >Edit Forum</a>
        </div>
    </div>
</div>

<div class="container page__container page-section pt-4">

    <div class="row mb-3">
        <div class="col-lg-4">
            <div class="bg-white border-1 border-top-3 border-top-accent rounded text-70 text-center mb-lg-0">
                <div class="card-body">
                    Base Event
                    <p class="lead text-body mb-0"><strong>-</strong></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="bg-white border-1 border-top-3 border-top-accent rounded text-70 text-center mb-lg-0">
                <div class="card-body">
                    Competency
                    {% for competency in forum.competency.all %}
                    <p class="text-body mb-0"><strong>{{ competency.title }}</strong></p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="bg-white border-1 border-top-3 border-top-accent rounded text-70 text-center mb-lg-0">
                <div class="card-body">
                    Proficiency
                    {% for proficiency in forum.proficiency.all %}
                    <p class="text-body mb-0"><strong>{{ proficiency.level }}</strong></p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-8pt">
        <div class="col-lg-8">

            <div class="">

                <h4>Threads</h4>

                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center" style="white-space: nowrap;">
                            <div class="col-lg-auto">
                                <form class="search-form search-form--light d-lg-inline-flex mb-8pt mb-lg-0"
                                    action="student-discussions.html">
                                    <input type="text" class="form-control w-lg-auto" placeholder="Search discussions">
                                    <button class="btn" type="submit" role="button"><i
                                            class="material-icons">search</i></button>
                                </form>
                            </div>
                            <div class="col-lg-auto flex">
                                <a href="{% url 'forum-add-thread' id=forum.id %}" class="btn btn-accent float-right">Create
                                    Thread</a>
                            </div>
                        </div>
                    </div>


                    <div class="list-group list-group-flush">

                        {% for thread in forum.thread_set.all %}
                        <div class="list-group-item p-3">
                            <div class="row align-items-center">
                                <div class="col-md-3 mb-8pt mb-md-0">
                                    <div class="media">
                                        <div class="media-left my-auto">
                                            <span href="#">
                                                <i class="material-icons">library_books</i>
                                            </span>
                                        </div>
                                        <div class="media-body media-middle">
                                            <p class="text-muted m-0">{{ thread.created|timesince }}</p>
                                            <p class="m-0"><a href="#"
                                                    class="text-body">{{ thread.author.full_name }}</a>
                                            </p>
                                        
                                        </div>
                                    </div>
                                </div>
                                <div class="col mb-8pt mb-md-0">
                                    <a href="{% url 'forum-thread-view' id=thread.id %}">
                                        <p class="mb-8pt">
                                            <div href="{% url 'forum-thread-view' id=thread.id %}" class="text-body">
                                                <strong>{{ thread.title }}</strong>
                                            </div>
                                        </p>
                                    </a>

                                    {% for tag in thread.tag.all  %}
                                    <a href="#"
                                        class="btn btn-outline-secondary btn-rounded btn-sm my-1">{{ tag.name }}</a>
                                    {% endfor %}

                                </div>
                                <div class="col-auto d-flex flex-column align-items-center justify-content-center">
                                    <h5 class="m-0"> {{ thread.get_comments.count }} </h5>
                                    <p class="lh-1 mb-0"><small class="text-70">comments</small></p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>


                    {% if thread_list.count > 10 %}
                    <div class="card-body text-center">
                        <a href="#" class="text-black-70 text-underline">View more discussions</a>
                    </div>
                    {% elif thread_list.count < 1  %}
                    <div class="card-body text-center">
                        <a href="{% url 'forum-add-thread' id=forum.id %}" class="text-black-70 text-underline">Create First
                            Thread</a>
                    </div>
                    {% endif %}


                </div>

            </div>

        </div>
        <div class="col-lg-4">

            <div class="mb-heading d-flex align-items-center">
                <div class="flex">
                    <h4 class="card-title">Members</h4>
                    <p class="card-subtitle">Registered Members</p>
                </div>
                <div class="d-flex align-items-center text-right">
                    <a href="#" class="btn btn-outline-secondary btn-sm"><i class="material-icons">add</i></a>
                </div>
            </div>
            <div class="card">
                {% for member in forum.members.all %}
                <div class="card-body">
                    <div class="media">
                        <div class="media-left">
                            <a href="#" class="avatar avatar-sm">
                                <i class="material-icons">person</i>
                            </a>
                        </div>
                        <div class="media-body d-flex flex-column">
                            <div class="d-flex align-items-center">
                                <a href="#" class="text-body"><strong>{{ member.full_name }}</strong></a>
                                <small class="ml-auto text-muted">27 min ago</small><br>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="card-footer">

                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}