{% extends 'mentor_view_base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <div class="page-section bg-white border-bottom-2">
        <div class="container page__container">
            <!-- Wrapper -->
            <div data-lists-values='["name"]'>
                <!-- Table -->
                <table class="table">
                <thead>
                        <th>Participant Name</th>
                        <th>Event Name</th>
                        <th>Presence</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="list">
                        {% for crr in mentor_list %}
                        <tr>
                            <td>{{ crr.participant_name }}</td>
                            <td>{{ crr.event_name }}</td>
                            <td>
                                {% if crr.state == True %}
                                <i class="material-icons">check</i> 
                                {% else %}
                                <i class="material-icons">not_interested</i>
                                {% endif %}
                            </td>
                            <td> 80% Kehadiran </td>
                            <td>
                                <div class="nav-item dropdown d-none d-sm-flex">
                                    
                                    <a href="#" data-toggle="dropdown" class="btn btn-sm btn-dark">
                                        <i class="material-icons">settings</i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Detail</a>
                                        <a class="dropdown-item" onclick="return confirm('Are you sure you want to delete this?')" 
                                        href="{% url 'mentor-delete' id=crr.id %}">Hapus</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}