{% extends 'event_manager_base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <div class="page-section bg-white border-bottom-2">
        <div class="container page__container">
            <a href="{% url 'academy-event-plan-add' %}" class="btn btn-primary mb-16pt float-right">{% trans 'Add Event Plan' %}</a>
            <!-- Wrapper -->
            <div data-lists-values='["name"]'>
                <!-- Table -->
                <table class="table">
                <thead>
                        <th>Learning Plan</th>
                        <th>Curriculum Title</th>
                        <th>Mentor Request</th>
                        <th>Vendor Request</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Action</th>
                 
                    </tr>
                </thead>
                <tbody class="list">
                        {% for crr in event_plan_list %}
                        <tr>
                            <td>{{ crr.learning_plan }}</td>
                            <td>{{ crr.curriculum_title }}</td>
                            <td>{{ crr.mentor_request }}</td>
                            <td>{{ crr.vendor_request }}</td>
                            <td>{{ crr.start }}</td>
                            <td>{{ crr.end }}</td>    
                            <td>
                                <div class="nav-item dropdown d-none d-sm-flex">
                                    <a href="#" data-toggle="dropdown" class="btn btn-sm btn-dark">
                                        <i class="material-icons">settings</i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Detail</a>
                                        <a class="dropdown-item" href="#">Request Expert</a>
                                        <a class="dropdown-item" href="{% url 'academy-event-plan-edit' id=crr.id %}">Edit</a>
                                        <a class="dropdown-item" onclick="return confirm('Are you sure you want to delete this?')" href="{% url 'academy-event-plan-delete' id=crr.id %}">Hapus</a>
                                        <a class="dropdown-item" onclick="return confirm('Are you sure you want to change the state?')" href="{% url 'academy-event-set-on-going' id=crr.id %}">Set On Going</a>
                                        <a class="dropdown-item" onclick="return confirm('Are you sure you want to change the state?')" href="{% url 'academy-event-set-finish' id=crr.id %}">Set Finish</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}