{% extends 'quiz_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="page-section bg-white border-bottom-2">
    <div class="container page__container">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Edit Quiz Question</h5>
            </div>
            
            <div class="modal-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="footer float-right">
                        <a href="{% url 'content-quiz-index' %}" class="btn btn-secondary" data-dismiss="modal">Batal</a>
                        <button type="submit" class="btn btn-primary">Simpan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
