{% extends 'base.html' %}
{% load static %}

{% block title %}Article Page{% endblock %}

{% block outer_content %}

    <div class="mdk-box bg-dark mdk-box--bg-gradient-primary js-mdk-box mb-0" data-effects="blend-background">
        <div class="mdk-box__content">
            <div class="hero container page__container mt-5 py-32pt py-md-32pt text-center text-sm-left">
                <h1 class="text-white mb-24pt">Quiz</h1>
                <p class="lead measure-hero-lead text-white mb-24pt">
                    Manage Quiz - Questions    
                </p>
            </div>
        </div>
    </div>

    {% if messages %}
        <div class="p-3 pb-0">
            {% for message in messages %}
                <div class="mt-2 my-1 mb-0 col-md-12 alert alert-{{message.tags}}" role="alert">
                    <strong>{{ message }}</strong>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% block content %}{% endblock %}

{% endblock %}